{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt distinctio eum ex laudantium maxime nesciunt
        nostrum recusandae repellat. Ab accusantium aliquid at delectus dolor eaque eligendi fugiat inventore ipsum
        porro quaerat qui repellat sit suscipit, ullam. Cumque dignissimos ducimus est ex expedita fugit, laudantium
        neque nobis obcaecati, porro quis sint, tempora ullam? At deleniti dignissimos eligendi eos hic molestias
        obcaecati quibusdam quos ullam voluptate. Commodi dolores eius hic impedit magnam modi numquam sapiente
        veritatis vero voluptates. Accusantium, dolor doloremque excepturi ipsa iste maxime repellat soluta? Dolore
        harum nulla quisquam sunt, voluptates voluptatum. Accusamus explicabo illum in iste laborum magnam pariatur
        saepe tempore vel? A corporis dolor id ipsum placeat quasi quia vel vero. Accusamus aspernatur at beatae
        consequatur culpa cumque dolores eos error fugiat fugit maiores provident qui quia quod, recusandae rem ullam
        veritatis voluptatem. Ab ad aspernatur autem blanditiis debitis deserunt distinctio, ex laboriosam optio vel
        velit voluptate voluptates voluptatum! Adipisci assumenda, dolorum explicabo fugit illum ipsa non numquam porro
        quas quos sint sit velit! Cum dolor, dolorum exercitationem, fuga id ipsa iusto labore maxime minima nam
        necessitatibus neque quibusdam ratione suscipit unde vel voluptate! Architecto asperiores, cumque cupiditate
        delectus deleniti dolorem ducimus explicabo harum hic illo ipsam mollitia odio quae sint tempore temporibus
        totam! Cum doloremque illo magnam pariatur, praesentium reiciendis ullam? Ab accusamus atque autem beatae
        commodi distinctio dolorum eligendi error est excepturi, explicabo facere fugit impedit ipsam iure laboriosam
        magni mollitia natus nobis, numquam provident quas, repellat sequi similique sint soluta tenetur totam veritatis
        voluptatem voluptatibus!</p>

    <section class="products">
    {% for product in products %}
        <section class="p-5 d-inline-flex">
            <h1 class="text-danger">{{ product.productName }}</h1>
            <h3>Цвет: {{ product.productColor }}</h3>
            <img src="{{ product.productImage }}" alt="{{ product.productDescriptionTwo }}">
            <p>Описание: {{ product.productDescriptionOne }}</p>
            <h4>Код товара: {{ product.productCode }}</h4>
            <p>Кол-во: {{ product.productQuantity }}</p>
            <h2>Цена {{ product.productPrice }} Руб.</h2>
            <div class="metadata"> Дата: {{ product.productCreatedAt | date('d/m/Y') }}</div>
            <a href="{{ path('show_product', {'id' : product.id}) }}" class="btn btn-danger">Узнать больше ></a>
        </section>
    {%  endfor %}
    </section>



{% endblock %}
